*{
  box-sizing: border-box;

}
body{
  background-color: #95E8D6
}
.image{
  height: 220px;
  width: 260px;
  background-color: #A3C9FF
 
}
.poke-image{
  margin-bottom: 20px;
  border: solid 1px #95CCE8;
}

.all-pokes{
   display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
.search{
  font-weight: bold;
  position: absolute;
  top:35px;
  left: 300px;
}
.poke-details{
  border: solid 1px red;
  background-color:#B6FF85;

  z-index: 2;
}
